[submodule "justinrainbow/json-schema"]
	path = justinrainbow/json-schema
	url = https://github.com/justinrainbow/json-schema.git
[submodule "mike42/escpos"]
	path = mike42/escpos
	url = https://github.com/mike42/escpos-php.git
[submodule "nfephp-org/sped-nfe"]
	path = nfephp-org/sped-nfe
	url = https://github.com/nfephp-org/sped-nfe.git
[submodule "vendor/justinrainbow/json-schema"]
	path = vendor/justinrainbow/json-schema
	url = https://github.com/justinrainbow/json-schema.git
[submodule "vendor/mike42/escpos"]
	path = vendor/mike42/escpos
	url = https://github.com/mike42/escpos-php.git
